<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre Nós CEDA-RN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p class="img-header">
      <img src="assets/image/logo-2.png" alt="ceda" width="100">
    </p>
    <h1>A CEDA</h1>
    <p>
      A Clínica CEDA, localizada no coração da Região Metropolitana de Parnamirim/RN, dedica-se à prestação de serviços de saúde com várias especialidades médicas e diversos procedimentos e exames. 
    </p>
    <p>
    Seu corpo clínico é formado pelos melhores profissionais da região, dentre eles professores e doutores, sem contar com os equipamentos novos e de última geração. 
    </p>
    <p>
    Possui instalações confortáveis e amplas, com ambientes climatizados para proporcionar mais conforto e bem-estar. Também busca continuamente aliar o bom atendimento a soluções especializadas para cuidar da saúde de seus pacientes. E para isso, disponibiliza equipe de colaboradores treinados e um grupo de médicos especializados no atendimento dos mais variados casos.
    </p>
  </div>
</ion-content>
