<ion-tabs >
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="agendamentos">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Consultas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cartao-virtual">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Cartão CEDA+</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vouches">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Vouches</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
