<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cartão CEDA+</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="cartao-virtual">
      <div class="qr-code">
        <img src="assets/image/qr-code.png" alt="qr-code" width="100">
      </div>
      <div class="informacoes">
        <div class="faixa"></div>
        <p><strong>Nome: </strong>LEONARDO MAURICIO<br/>
        <strong>CPF: </strong>017.598.904-48<br/>
        <strong>CODIGO: </strong>00012132232</p>
        <p>
          <img src="assets/image/logo.png" alt="clinica ceda">
        </p>
      </div>
    </div>
  </div>

</ion-content>
