<ion-header [translucent]="true">
  <ion-toolbar color="light" class="toolbar-header">
    <ion-title>
      <img src="assets/image/logo.png" alt="clinica ceda" width="200px">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="large" color="primary">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <div class="container">
    <ion-grid>
      
      <ion-row>
        <ion-col size="12">
          <div class="redes-sociais">
            <div (click)="redeSocial('facebook')">
              <img src="assets/image/facebook.png" alt="facebook">
            </div>
            <div (click)="redeSocial('instagram')">
              <img src="assets/image/instagram.png" alt="instagram">
            </div>
            <div (click)="redeSocial('whatsapp')">
              <img src="assets/image/whatsapp.png" alt="whatsapp">
            </div>
          </div>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <div class="div-botao" routerLink="/tabs/cartao-virtual" routerDirection="forward">
            <img src="assets/image/cartao.png" alt="cartao ceda+">
          </div>
          <p>Cartão CEDA+</p>
        </ion-col>
        <ion-col>
          <div class="div-botao" routerLink="/tabs/agendamentos" routerDirection="forward">
            <img src="assets/image/consultas.png" alt="consultas">
          </div>
          <p>Consultas</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="div-botao" routerLink="/tabs/vouches" routerDirection="forward">
            <img src="assets/image/cupom.png" alt="vouches">
          </div>
          <p>Vouches</p>
        </ion-col>
        <ion-col>
          <div class="div-botao" routerLink="/tabs/financeiro" routerDirection="forward">
            <img src="assets/image/procurar.png" alt="financeiro">
          </div>
          <p>Financeiro</p>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col>
          <div class="div-botao">
            <img src="assets/image/gps.png" alt="button">
          </div>
          <p>Maps</p>
        </ion-col>
        <ion-col>
          <div class="div-botao">
            <img src="assets/image/instagram.png" alt="button">
          </div>
          <p>Instagram</p>
        </ion-col>
      </ion-row> -->

    </ion-grid>
  </div>
</ion-content>
